---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.home-intro {
  max-width: 800px;
  margin: 3rem auto 4rem;
  text-align: left; /* 또는 center */
}

/* Footer 글씨 크기 조정 */
.page__footer {
  font-size: 0.8rem;
}

.page__footer a {
  font-size: 0.8rem;
}
